*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  border: 1px solid black;
  width: 6.25%;
  height: 6.25%;
}